<div>
    <% if @user.present? %>

            <div class="mb-3">
                <h1>チーム個別ページ</h1>
                <% if @member_check.blank? %>
                    <%= link_to("チーム参加","/teams/#{@current_team.id}/team_in",class: "btn btn-primary",method: :post)%>
                <% elsif @manager_check.blank? && @member_check.present?%>
                    <%= link_to("チーム脱退","/teams/#{@current_team.id}/team_out",class: "btn btn-secondary",method: :post)%>
                <% end %>
            </div>
            <%="#{@current_team.team_name}　チームID:#{@current_team.id}　チーム管理者ID:#{@current_team.manager_id}"%>

        <% if @member_check.present? %>

            <div name="todo_create">
                <%= form_tag("/tasks/create") do %>
                    <div class="mb-3">
                        <textarea name="content" class="form-control"></textarea>
                    </div>
                    <div class="mb-3">
                        <input type="date" value="<%= @date %>" name="start_time">
                        <select name="team_id">
                            <option>チームに共有しない</option>
                            <% @user.teams.each do |teams| %>
                                <option name="team_id" value="<%= teams.id %>"><%= teams.team_name %></option>
                            <% end %>
                        </select>
                    </div>
                    <div class="mb-3">
                        <input type="submit" value="追加" class="btn btn-primary">
                    </div>
                <% end %>
            </div>
            
            <%= month_calendar events: @current_team.tasks do |date,tasks| %>
                <%= "#{date.month}/#{date.day}" %>
                    <% tasks.each do |task| %>
                    <% if @date.before? task.start_time %>
                        <% if task.finish %>
                            <br>
                            <%= link_to "#{task.content}","/tasks/#{task.id}/show",{class:"safe del"} %>
                        <% else %>
                            <br>
                            <%= link_to "#{task.content}","/tasks/#{task.id}/show",{class:"safe"} %> 
                        <% end %>
                    <% else %>
                        <% if task.finish %>
                            <br>
                            <%= link_to "#{task.content}","/tasks/#{task.id}/show",{class:"over del"} %>
                        <% else %>
                            <br>
                            <%= link_to "#{task.content}","/tasks/#{task.id}/show",{class:"over"} %> 
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>

            <h4>チーム参加者</h4>
            <% @member_list.each do |member| %>
                <div class=".list_group">
                    <div class=".list-group-item"><%= "ID:#{member.user_id}" %></div>
                </div>
            <% end %>

            <div class="mb-3">
                <% if @manager_check.present? %>
                    <%= link_to("チーム管理","/teams/#{@current_team.id}/manager",class: "btn btn-success")%>
                <% end %>
            </div>

        <% end %>
    <% end %>
</div>