<div>
    <% if @user.present? %>

            <div class="mb-3">
                <h1><%=@current_team.team_name%></h1>
                <%="管理者:#{@manager_name}/ID:#{@current_team.manager_id}"%>
                <br>
                <% if @member_check.blank? %>
                    <%= link_to("チーム参加","/teams_users/#{@current_team.id}/create",class: "btn btn-primary",method: :post)%>
                <% elsif @manager_check.blank? && @member_check.present?%>
                    <%="チームID:#{@current_team.id}"%>
                    <%= link_to("チーム脱退","/teams_users/#{@current_team.id}/destroy?user_id=#{@user.id}",class: "btn btn-secondary",method: :post)%>
                <% end %>
            </div>

        <% if @member_check.present? %>

            <h4>チーム参加者</h4>
            <% @member_list.each do |member| %>
                <div class=".list_group mb-3">
                    <div class=".list-group-item"><%= "#{member.user.name}/ID:#{member.user_id}" %></div>
                </div>
            <% end %>

            <div name="todo_create">
                <%= form_tag("/tasks/create") do %>
                    <div class="mb-3">
                        <textarea name="content" class="form-control"></textarea>
                    </div>
                    <div class="mb-3">
                        <input type="date" value="<%= @date %>" name="start_time">
                        <select name="team_id">
                            <option>チームに共有しない</option>
                            <% @user.teams.each do |teams| %>
                                <option name="team_id" value="<%= teams.id %>"><%= teams.team_name %></option>
                            <% end %>
                        </select>
                    </div>
                    <div class="mb-3">
                        <input type="submit" value="追加" class="btn btn-primary">
                    </div>
                <% end %>
            </div>
            
        <% end %>

        <div class="mb-3">
            <% if @manager_check.present? || @deve_user.present? %>
                <%= link_to("チーム管理","/teams/#{@current_team.id}/manager",class: "btn btn-success")%>
            <% end %>
        </div>

    <% end %>
</div>