<div>

    <h1>タスク編集</h1>

    <div class="mb-3">
        <%= link_to "indexに戻る","/tasks/index" %>
    </div>

    <div name="todo_edit">
        <%= form_with model: @update do |form| %>
            <textarea name="content" class="mb-3 form-control"><%= @task.content %></textarea>
            <input type="date" name="start_time" value="<%= @task.start_time %>" class="mb-3">
            <div class="mb-3">
                作業済チェック<%= form.check_box :finish, {checked: @task.finish} %>
            </div>
            <%= form.submit "保存",{class:"mb-3 btn btn-primary"} %>
        <% end %>
    </div>

    <div name="todo_destroy">
        <%= form_tag("/tasks/#{@user.id}/#{params[:id]}/destroy") do %>
            <input type="submit" value="削除" class="mb-3 btn btn-primary">
        <% end %>
    </div>

</div>