<div>

    <h1>edit</h1>

    <%= link_to("indexに戻る","/tasks/index") %>

    <div name="todo_edit">
        <%= form_with model: @update do |form| %>
            <textarea name="content"><%= @task.content %></textarea>
            <br>
            <input type="date" name="start_time" value="<%= @task.start_time %>">
            <br>
            <span>作業済チェック</span>
            <%= form.check_box :finish, {checked: @task.finish} %>
            <br>
            <%= form.submit "編集" %>
        <% end %>
    </div>

    <div name="todo_destroy">
        <%= form_tag("/tasks/#{params[:id]}/destroy") do %>
            <input type="submit" value="削除">
        <% end %>
    </div>
    
    <%= month_calendar events: @tasks do |date,tasks| %>
        <%= "#{date.month}/#{date.day}" %>
        <% tasks.each do |task| %>
            <% if @date.before? task.start_time %>
                <br>
                <%= "#{task.content}"%>
            <% else %>
                <span class="red">
                    <br>
                    <%= "#{task.content}" %>
                </span>
            <% end %>
        <% end %>
    <% end %>

</div>