<div>

    <%= link_to("index","/tasks/index") %>
    <h1>edit</h1>

    <div name="todo_edit">
        <%= form_tag("/tasks/#{params[:id]}/update") do %>
            <textarea name="content"><%= @task.content %></textarea>
            <br>
            <input type="submit" value="編集">
        <% end %>
    </div>

    <div name="todo_check">
    <%= form_with model: @check do |form| %>
        <%= form.check_box :finish %>
        <%= form.submit "check" %>
        <span>作業済チェック</span>
    <% end %>
    </div>

    <div name="todo_destroy">
        <%= form_tag("/tasks/#{params[:id]}/destroy") do %>
            <input type="submit" value="削除">
        <% end %>
    </div>

</div>