<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <span class="flash">
        <span class="green"><%= notice %></span>
        <span class="red"><%= alert %></span>
    </span>
    <div class="container">
      <%= yield %>
      
      <%= month_calendar events: @tasks do |date,tasks| %>
          <%= "#{date.month}/#{date.day}" %>
          <% tasks.each do |task| %>
              <% if @date.before? task.start_time %>
                  <% if task.finish %>
                      <br>
                      <%= link_to "#{task.content}","/tasks/#{task.id}/show",{class:"safe del"} %>
                  <% else %>
                      <br>
                      <%= link_to "#{task.content}","/tasks/#{task.id}/show",{class:"safe"} %> 
                  <% end %>
              <% else %>
                  <% if task.finish %>
                      <br>
                      <%= link_to "#{task.content}","/tasks/#{task.id}/show",{class:"over del"} %>
                  <% else %>
                      <br>
                      <%= link_to "#{task.content}","/tasks/#{task.id}/show",{class:"over"} %> 
                  <% end %>
              <% end %>
          <% end %>
      <% end %>

    </div>
  </body>
</html>
