<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>
    
    <%= month_calendar events: @tasks do |date,tasks| %>
        <%= "#{date.month}/#{date.day}" %>
        <% tasks.each do |task| %>
            <% if @date.before? task.start_time %>
                <br>
                <%= "#{task.content}"%>
            <% else %>
                <span class="red">
                    <br>
                    <%= "#{task.content}" %>
                </span>
            <% end %>
        <% end %>
    <% end %>

  </body>
</html>
